APP_NAME=Production Control API
APP_VERSION=0.1.0
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false

POSTGRES_DB=production_control
POSTGRES_USER=production_control
POSTGRES_PASSWORD=production_control
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_DEFAULT_USER=production_control
RABBITMQ_DEFAULT_PASS=production_control
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=production-control
